@import url("menu.css");
@import url("flores.css");

.collapsible {
    width: 8em;
}

.echeverialilacina {
    .video h2 {
        text-shadow: 1px 1px 3px rgb(106, 171, 50);
        background-color: rgba(52, 255, 69, 0.3);
        color: rgb(106, 171, 50);
    }
    .background {
        margin-top: 3em;
        background-image: url(/resources/images/cactus/echeveria-bg.jpg);
        background-size: cover;   

    }
  }
  
  .mammillariaspinosissima {
    .video h2 {
        text-shadow: 1px 1px 3px rgb(106, 171, 50);
        background-color: rgba(52, 255, 69, 0.3);
        color: rgb(106, 171, 50);
    }
    .background {
        margin-top: 3em;
        background-image: url(/resources/images/cactus/mammillariaspinosissima-bg.jpg);
        background-size: cover;   
    }
  }