@import url("menu.css");

.encabezado {
    font-family: 'Poppins';
    text-align: center;
    background-color: rgba(60, 109, 44, .3);
    margin-bottom: -1.5em;
}

.collapsible {
    width: 7em;
    background-color: #586c58;
    margin-top: 5em;
    padding: .5em;
    font-weight: bold;
    font-family: 'Poppins';
    text-transform: uppercase;
    outline: none;
    color: whitesmoke;
    p {
        text-shadow: 2px 2px 3px black;
        margin: 0;
    }
}
.content {
    display: none;
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #e6f1da;
    .caracteristicas {
        font-family: 'Poppins';
        h2 {
            text-align: center;
            text-shadow: 1px 1px 5px #222b21;
        }
        ul {
            list-style-image: url("/resources/images/icono_lista.png");
            li {
                font-weight: bolder;
                span {
                    font-weight: normal;   
                }
            }
        }
    }
    .cuidados {
        margin-top: 5em;
        font-family: 'Poppins';
        h2 {
            text-align: center;
            text-shadow: 1px 1px 5px #222b21;
        }
        ul {
            list-style-image: url("/resources/images/icono_lista.png");
            li {
                text-align:justify;
                text-justify: auto;
                font-weight: bolder;
                .titulo {
                    font-weight: bolder;
                    font-size: 1.15em;
                    margin-bottom: 0;
                }
                p {
                    margin: .5em 1.5em 2em 0em;
                    font-weight: normal;
                }
                
            }
        }
        hr.solid {
            border-top: 3px solid #2b302c;
            margin: 4em 0 4em 0;
        }
    }

    .galeria {
        max-width: 1000px;
        position: relative;
        margin: auto;
        img {
            vertical-align: middle;
            object-fit: contain;
        }
        .right, .left {
            cursor: pointer;
            position: absolute;
            top: 50%;
            width: auto;
            padding: 1em;
            margin-top: 1em;
            color: white;
            font-weight: bold;
            font-size: .8em;
            transition: .6s ease;
            background-color: rgba(85, 85, 85, 0.3);
            user-select: none;
            border-radius: 0 3px 3px 0;
            border-color: transparent;
        }
        .right {
            right: 0;
            border-radius: 3px 0 0 3px;
        }
        button {
            outline: none;
            &:hover {
                background-color: #000000cc;
            }
        }
        .numbertext {
            color: #e4e5e3;
            font-size: 12px;
            padding: 8px 12px;
            background-color: rgba(82, 89, 82, .6);
            position: absolute;
            top: 5.5em;
            left: .2em;
            font-family: 'Poppins';
          }
        h2 { 
            text-align: center;
            font-size: 2em;
            text-shadow: 1px 1px 3px #222b21;
        }
        box-sizing: border-box;
        .mySlidesClavel, .mySlidesPetunia .mySlidesGirasol .mySlidesLavanda{
            height: auto;
        }
    }
    
    .video {
        margin-top: 5em;
        padding-bottom: 1em;
        .dotted {
            border-top: 3px dotted #bbb;
        }
        h2 {
            font-family: 'Poppins';
            text-align: center;
            margin-top: 3em;
            margin-bottom: 0;
            border: 1px solid rgba(0, 0, 0, .3);
        }
        iframe {
            width: 100%;
        }
    }
  }

.clavel {
    .collapsible {
        height: 3em;
    }
    .video h2 {
        text-shadow: 1px 1px 3px rgb(171, 129, 50);
        background-color: rgba(255, 184, 52, 0.3);
        color: rgb(171, 129, 50);
    }
    .background {
        margin-top: 3em;
        background-image: url(../../resources/images/flores/clavel-bg.jpg);
        background-size: cover;    
    }
  }

.petunia {
    .collapsible {
        height: 3em;
    }
    .video h2 {
        text-shadow: 1px 1px 3px rgb(171, 70, 50);
        background-color: rgba(255, 110, 52, 0.3);
        color: rgb(171, 70, 50);
    }
    .background {
        margin-top: 3em;
        background-image: url(../../resources/images/flores/petunia-bg.jpg);
        background-size: cover;    
    }
}

.girasol {
    .collapsible {
        height: 3em;
    }
    .video h2 {
        text-shadow: 1px 1px 3px rgb(171, 165, 50);
        background-color: rgba(255, 245, 52, 0.3);
        color: rgb(171, 165, 50);
    }
    .background {
        margin-top: 3em;
        background-image: url(../../resources/images/flores/girasoles-bg.jpg);
        background-size: cover;    
    }
}

.lavanda {
    .collapsible {
        height: 3em;
    }
    .video h2 {
        text-shadow: 1px 1px 3px rgb(111, 50, 171);
        background-color: rgba(194, 52, 255, 0.3);
        color: rgb(111, 50, 171);
    }
    .background {
        margin-top: 3em;
        background-image: url(../../resources/images/flores/lavanda-bg.jpg);
        background-size: cover;    
    }
}
