@import url("menu.css");
@import url("flores.css");

.collapsible {
    height: 4.1em;
}

.manzanilla {
    .video h2 {
        text-shadow: 1px 1px 3px rgb(171, 165, 50);
        background-color: rgba(238, 255, 52, 0.3);
        color:  rgb(171, 165, 50);
    }
  }

.poleomenta {
    .video h2 {
        text-shadow: 1px 1px 3px rgb(145, 50, 171);
        background-color: rgba(187, 52, 255, 0.3);
        color: rgb(145, 50, 171);
    }
}

.mentachocolate {
    .video h2 {
        text-shadow: 1px 1px 3px rgb(106, 171, 50);
        background-color: rgba(32, 162, 43, 0.3);
        color: rgb(50, 171, 135);
    }
}

.perejil {
    .video h2 {
        text-shadow: 1px 1px 3px rgb(58, 193, 31);
        background-color: rgba(18, 253, 57, 0.3);
        color: rgb(58, 193, 31);
    }
}